@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Learning Hub</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <link rel="apple-touch-icon" sizes="57x57" href="~/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Images/favicon/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Images/favicon/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/Content/HomePage/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/HomePage/icofont.min.css" rel="stylesheet" />
    <link href="~/Content/HomePage/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/HomePage/remixicon.css" rel="stylesheet" />
    <link href="~/Content/HomePage/venobox.min.css" rel="stylesheet" />
    <link href="~/Content/HomePage/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/HomePage/aos.css" rel="stylesheet" />

    <link href="~/Content/HomePage/style.css" rel="stylesheet" />
</head>

<body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto">
                <a href="index.html">
                    <div style="color: #4e3d5f;display:inline; white-space:nowrap; font-weight: bolder;">L</div>earning
                    <div style="color: #418791;display:inline; white-space:nowrap;font-weight: bolder;">H</div>ub
                </a>
            </h1>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#price">Price</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>

            <a href="~/Account/Login" class="get-started-btn scrollto">Login</a>

        </div>
    </header>
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Your Online Virtual Classroom</h1>
                    <h2><i>Let's Learn and Grow...</i></h2>
                    <div class="d-lg-flex">
                        <a href="#contact" class="btn-get-started scrollto">Contact US</a>
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/Images/HomePage/logo.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>

    <main id="main">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About <div style="color: #4e3d5f;display:inline; white-space:nowrap; font-weight: bolder;">L</div><div style="color: #418791;display:inline; white-space:nowrap;font-weight: bolder;">H</div></h2>
                </div>

                <div class="row content">
                    <p style="margin-left: 1em;margin-right: 1em;text-align: justify;">
                        The coronavirus pandemic has resulted in the closure of schools and colleges across the country. Education has changed dramatically over the past few months, with a considerable rise of e-learning, whereby teaching is executed remotely and on digital platforms.
                        Here we are, LearningHub with a strikethrough in remote learning strategy.

                    </p>
                    <div class="col-lg-6 pt-4 pt-lg-0 ">

                        <ul>
                            <li><i class="ri-check-double-line"></i> Pre-Recorded Video Lectures</li>
                            <li><i class="ri-check-double-line"></i> Live Class Room</li>
                            <li><i class="ri-check-double-line"></i> Online Exams</li>
                        </ul>
                    </div>
                    <div class="" style="display: inline-block;padding: 0px 0px 0px 16px;">
                        <ul>
                            <li><i class="ri-check-double-line"></i> Assignment Uploading</li>
                            <li><i class="ri-check-double-line"></i> Attendance Of Students</li>
                            <li><i class="ri-check-double-line"></i> Chat Box</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <section id="price" class="pricing">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Pricing</h2>
                    <p>Whether your institute is small or big, We have different categories of pricing so that everyone can afford our product.</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>SILVER</h3>
                            <ul>
                                <li><i class="bx bx-check"></i>10 Student</li>
                                <li><i class="bx bx-check"></i>1hr Free Video</li>
                                <li><i class="bx bx-check"></i>Office Time Support</li>
                                <li><i class="bx bx-check"></i> <span>Office Time Video Upload</span></li>
                                <li><i class="bx bx-check"></i> <span>1GB Free Storage</span></li>
                                <li><i class="bx bx-check"></i>Free Implementation</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Free Domain</span></li>
                            </ul>
                            <h4><div style="display: inline-block;"><sup>₹</sup>99<span>per month</span></div></h4>
                        </div>
                    </div>

                    <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>GOLD</h3>
                            <ul>
                                <li><i class="bx bx-check"></i>100 Student</li>
                                <li><i class="bx bx-check"></i>10hr Free Video</li>
                                <li><i class="bx bx-check"></i>Office Time Support</li>
                                <li><i class="bx bx-check"></i> <span>Office Time Video Upload</span></li>
                                <li><i class="bx bx-check"></i> <span>2GB Free Storage</span></li>
                                <li><i class="bx bx-check"></i>Free Implementation</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Free Domain</span></li>
                            </ul>
                            <h4><div style="display: inline-block;"><sup>₹</sup>999<span>per month</span></div></h4>
                        </div>
                    </div>

                    <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>PLATINUM</h3>
                            <ul>
                                <li><i class="bx bx-check"></i>1000 Student</li>
                                <li><i class="bx bx-check"></i>100hr Free Video</li>
                                <li><i class="bx bx-check"></i>24*7 Support</li>&nbsp;
                                <li><i class="bx bx-check"></i> <span>24*7 Video Upload</span></li>&nbsp;
                                <li><i class="bx bx-check"></i> <span>4GB Free Storage</span></li>
                                <li><i class="bx bx-check"></i>Free Implementation</li>
                                <li style=""><i class="bx bx-check"></i> <span>Free Domain</span></li>
                            </ul>
                            <p></p>
                            <h4><div style="display: inline-block;"><sup>₹</sup>9999<span>per month</span></div></h4>
                        </div>
                    </div>

                    <div class="col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <h3>DIAMOND</h3>

                            <ul>
                                <li><i class="bx bx-check"></i>More than 1000 Students</li>
                                <li><i class="bx bx-check"></i>More Video hrs</li>
                                <li><i class="bx bx-check"></i>24*7 Support</li>
                                <li><i class="bx bx-check"></i>24*7 Video Upload</li>&nbsp;
                                <li><i class="bx bx-check"></i>More Free Storage</li>
                                <li><i class="bx bx-check"></i>Free Implementation</li>
                                <li style=""><i class="bx bx-check"></i> <span>Free Domain</span></li>
                            </ul>
                            <a href="#contact" class="buy-btn">Contact Us</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>We love to meet prospective or existing customers. Contact us today so we can arrange to meet you and explore your software requirements..</p>
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Learning Hub</br> Kilimanoor,  Thiruvananthapuram</br> Pin:-695614</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>contact@LearningHub.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p><a href="tel:+91 9539391527">+91 9539391527</a></p>
                            </div>


                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3><span><a href="http://www.hackbal.com" style="color: #b52638;">LearningHub</a></span></h3>
                        <p>Learning Hub</br>Kilimanoor, Thiruvananthapuram</br>Pin:-695614 </p>
                        <p><a href="mailto:contact@hackbal.com">contact@LearningHub.com</a></p>
                        <p><a href="tel:+91 9539391527">+91 9539391527</a></p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">About</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#price">Price</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="~/Account/Login">Login</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://Hackbal.com/#services">WEB Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://Hackbal.com/#services">Mobile APP Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://Hackbal.com/#services">Graphic Designing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://Hackbal.com/#services">Social Media Promotion</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://Hackbal.com/#services">Computer Sales & Service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="https://Hackbal.com/#services">24x7 Support & Maintenance</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Get connect with us on any of these platforms.</p>
                        <div class="social-links mt-3">
                            <a href="https://www.twitter.com/Hackbal.Ltd" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/Hackbal.Ltd" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/Hackbal.Ltd" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://www.linkedin.com/HackbalLtd" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Learning Hub </span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://www.hackbal.com/">LearningHub Teamz</a>
            </div>
        </div>
    </footer>
    
    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>
    <script type='text/javascript'>
        (function () {
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.id = 'lsInitScript';
            s.src = 'https://livesupporti.com/Scripts/clientAsync.js?acc=d9163633-9cea-43e6-889e-7b49b753b484&skin=Air';
            var scr = document.getElementsByTagName('script')[0]; scr.parentNode.appendChild(s, scr);
        })();
    </script>

    <script src="~/Scripts/HomePage/jquery.min.js"></script>
    <script src="~/Scripts/HomePage/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/HomePage/jquery.easing.min.js"></script>
    <script src="~/Scripts/HomePage/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/HomePage/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/HomePage/venobox.min.js"></script>
    <script src="~/Scripts/HomePage/owl.carousel.min.js"></script>
    <script src="~/Scripts/HomePage/aos.js"></script>

    <script src="~/Scripts/HomePage/owl.carousel.min.js"></script>

    <script src="~/Scripts/HomePage/main.js"></script>
   
</body>

</html>